.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: ridge black;
  width: 50%;
  height: 100%;
  margin: 50px;
}

.card > * {
  margin: 5px;
}

#Blueberry > h1 {
  color: blue;
}

#Strawberry > h1 {
  color: red;
}

#Banana > h1 {
  color: yellow;
}

#Mixed > h1 {
  color: black;
}

form > * {
  margin: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
