extends layout
block content
    .form
        form.post.post-form(action='' method='POST')
            .field 
                label(for="username") Username:
                input(type="text", placeholder="username", name='username')
            .field
                label(for='password') Password:
                input(type='password', placeholder='password', name='password')
            button.button Log in